# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# top-most EditorConfig file
root = true

### ALL FILES
[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

### SOURCE CODES
[*.{js,json,rs,toml,ts}]
indent_size = 2
tab_width = 2
